
.btn_home{
   color: #212529;
    text-decoration: none;
    padding: 5px;
    background-color: #00000000;
  
}
.total{
    text-align: right;
}
@media(max-width:320px){
    .titlu_prod{
        display:none;
    }
}